<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Usuario</title>
</head>
<body>
<h1>Crear Usuario</h1>
<form th:action="@{/usuarios}" th:object="${usuario}" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" th:field="*{nombre}" /><br>

    <label for="correoElectronico">Correo Electrónico:</label>
    <input type="email" id="correoElectronico" th:field="*{correoElectronico}" /><br>

    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" th:field="*{contrasena}" /><br>

    <button type="submit">Guardar</button>
</form>
</body>
</html>
