<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuarios</title>
</head>
<body>
<h1>Usuarios</h1>
<a href="/usuarios/nuevo">Crear Nuevo Usuario</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo Electrónico</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.id}"></td>
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.correoElectronico}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
